* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.container {
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;
	background-color: #474e5c;
	background-color: rgba(71,78,92,0.95);
}

.container > .content {
	height: 100%;
	min-height: 100%;
	padding: 24px;
}

.panel {
	position: relative;
	top: 50%;
	padding: 0px 24px;
	margin: 0 auto;
	background-color: #ffffff;
	border: 1px solid #e8eaed;
	border-radius: 2px;
	color: #757f95;
}

@media screen and (min-width: 768px) {
	.panel {
		width: 62.5%;
	}
}

@media screen and (min-width: 992px) {
	.panel {
		width: 68.75%;
	}
}

@media screen and (min-width: 1200px) {
	.panel {
		width: 75%;
	}
}

#close {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

#close img {
	width: 100%;
	display: block;
}

h2.heading {
	font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #b49b72;
	padding: 24px 50px 0px 0px;
	margin-bottom: 16px;
}

form {
	margin-bottom: 20px;
}

.form-set {
	margin: 0px -8px;
}

.form-set:after {
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.input,
.actions {
	padding: 0px 8px;
	margin-bottom: 8px;
	position: relative;
	float: left;
	width: 100%;
}

@media screen and (min-width: 992px) {
	.input,
	.actions {
		width: 50%;
	}
}

.input input, 
.input select {
	display: block;
	padding: 14px 16px;
	font-size: 15px;
	line-height: 18px;
	color: #757f95;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #d1d4dc;
	border-radius: 2px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input input {
	height: auto;
	-webkit-box-shadow: inset 0px 1px 1px rgba(209, 212, 220, 0.5);
	box-shadow: inset 0px 1px 1px rgba(209, 212, 220, 0.5);
}

.input input:focus {
	background-color: #ebf7ff;
	border: 1px solid #c5cad3;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.input select {
	cursor: pointer;
	text-indent: 2px;
	height: 48px;
	background-color: #e8eaed;	
}

.input option {
	background-color: #ffffff;
	font-size: 13px;
	line-height: 21px;
	color: #00477a;
	padding: 6px 20px;
}

.input option:hover {
	color: #353b45;
	background-color: #ebf7ff;
}

.actions .button {
	width: 100%;
}

.actions .powered {
	font-size: 9px;
	line-height: 13px;
	color: #757f95;
	width: 146px;
	float: right;
	font-weight: 500;
	text-align: left;
}

.actions .button .content {
	padding-right: 146px;
}

.actions .powered .content {
	padding-left: 24px;
	text-align: left;
}

@media screen and (min-width: 550px) {
	.actions .button {
		width: 60%;
	}

	.actions .powered {
		width: 40%;
		text-align: right;
	}

	.actions .button .content {
		padding-right: 0;
	}

	.actions .powered .content {
		display: inline-block;
	}
}

@media screen and (min-width: 992px) {
	.actions {
		text-align: right;
	}

	.actions .button,
	.actions .powered {
		width: 50%;
	}

	.actions .powered {
		min-width: 146px;
	}
}

@media screen and (min-width: 1200px) {
	.actions .button {
		width: 60%;
	}

	.actions .powered {
		width: 40%;
	}
}

.actions button.btn {
	width: 100%;
	float: left;
	min-width: 100px;
	padding: 12px 18px;
	color: #ffffff;
	background-color: #0a99ff;
	border: 1px solid #0a99ff;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	font-size: 15px;
	line-height: 24px;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.actions .powered img {
	width: 122px;
	height: 24px;
	display: block;
}

.disclaimer {
	font-size: 10px;
	line-height: 12px;
	font-weight: 500;
	margin-bottom: 28px;
}

.disclaimer span.upper {
	text-transform: uppercase;
}

.disclaimer p {
	margin-bottom: 6px;
}